*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(255, 184, 248);
}

.drop{
    background-color: rgb(14, 177, 241);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.592);
    position: absolute;
    animation: animate 5s linear;
    transition: all 0.5s ease-in-out;
}

@keyframes animate {
    0%{
        opacity: 1;
        transform: scale(2);
    }
    25%{
        border-radius: 50%;
    }
    50%{
        opacity: 0.5;
        transform: scale(3);
        border-radius: 50%;
        background-color: rgb(56, 171, 165);
    }
    100%{
        opacity: 1;
        transform: scale(4);
        border-radius: 50%;
        border-color: rgba(255, 255, 255, 0.241);
        background-color: rgba(255, 192, 203, 0.729);
    }
}